
/*  --------------- CSS MENU  --------------*/
/**{
  margin: 0;
  padding: 0;
}*/

header{
  font-family: Helvetica;
  width: 80px;
 /* margin: inherit;*/
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: rgb(179, 106, 37);
  opacity: 0.7;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
  border-radius: 1em;
  margin: 0.5ex;
  padding: 0.5ex;
  
}
#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
}
#menu>li{
  float: left;
  text-align:center;
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}
table {
  border: rgb(3, 3, 3) 5px solid;
    border-collapse: separate;
    background: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
   
}
td{
  margin: 20px;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  margin-left: 110mm;

}

th, td {
  text-align: center;
  padding: 20px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #000000;
  color: white;
  background: aqua;
}




/*  --------------- CSS BODY  --------------*/

body{
  background-image: url(../images/FondoMenu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*#formulario {
  /* Centrar el formulario en la página 
  margin:  auto;
  width: 400px;
  /* Esquema del formulario 
  padding: 1em;
  position: unset;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 2em;
  text-align: center;
}*/
  
/*   agrego yo */

#formulario {
  /* Centrar el formulario en la página */
  /*margin: 0 auto;*/
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 1em;
  align-content: right;
  margin-left: 120mm;

  }


  .form {
    width: 100%;
    max-width: 600px;
   /* margin: 0 auto;*/
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
  }
  
  .form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  .form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }